extends ../layout/layout.pug
block vars
	- var title = 'Форма покупки';
block header
	include ../includes/header.pug
block content
	include ../includes/content-form4.pug
block footer
	include ../includes/footer.pug