.intro.intro_main
	.intro__left
	.container 
		a.logo(href="index.html")
			img(src="./img/logo.png" alt="")
		.intro__title 
			h1.h1 Сезон<br>кулинарии
			.subtitle с 1 сентября по 31 декабря
		.intro__text Заменители сухих сливок и молока
	.intro__right
main.main
	.container 
		.section-main 
			//- img(src="./img/top-img.png" alt="")
			a.button(href="") Зарегистрировать код
			.section-main__items 
				.section-main__item
					.section-main__img
						img(src="./img/milka.png" alt="")
				.section-main__item
					.section-main__img
						img(src="./img/mixer.png" alt="")
					.section-main__title Каждый месяц
					.section-main__subtitle Планетарный<br>миксер
				.section-main__item
					.section-main__img
						img(src="./img/coffeemachine.png" alt="")
					.section-main__title Главный приз
					.section-main__subtitle Кофемашина
				.section-main__item
					.section-main__img
						img(src="./img/blender.png" alt="")
					.section-main__title Каждую неделю
					.section-main__subtitle Блендер
				.section-main__item
					img(src="./img/sopyu.png" alt="")