@font-face {
	font-family: 'Blue curve';
	src: url('..//fonts/Bluecurve-Bold.eot');
	src: url('../fonts/Bluecurve-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Bluecurve-Bold.woff2') format('woff2'),
			url('../fonts/Bluecurve-Bold.woff') format('woff'),
			url('../fonts/Bluecurve-Bold.ttf') format('truetype'),
			url('../fonts/Bluecurve-Bold.svg#Bluecurve-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
